/* Estilos generales para eliminar márgenes y paddings por defecto y establecer caja de contenido como referencia */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Establece la fuente utilizada en el cuerpo del documento */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el contenedor principal */
.container {
    /* Establece una imagen de fondo con degradado */
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)), url("images/img-1-\ (12\).jfif");
    /* Centra la imagen de fondo */
    background-position: center;
    /* Ajusta el tamaño de la imagen de fondo */
    background-size: cover;
    /* Establece la altura del contenedor */
    height: 100vh;
    /* Establece la visualización en flexbox */
    display: flex;
    /* Establece la dirección de los elementos en flexbox */
    flex-direction: column;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: center;
}

/* Estilos para la caja que contiene el logo */
.box {
    /* Establece el color de fondo */
    background-color: rgba(0, 0, 0, 0.726);
    /* Establece el ancho */
    width: 100%;
    /* Establece el ancho máximo */
    max-width: 800px;
    /* Agrega espacio interior */
    padding: 20px;
    /* Centra el texto */
    text-align: center;
}

/* Estilos para la imagen del logo */
img {
    /* Establece el ancho */
    width: 100%;
    /* Establece el ancho máximo */
    max-width: 300px; 
}

/* Estilos para el contenido principal */
.main {
    /* Centra el texto */
    text-align: center;
    /* Establece el color del texto */
    color: #e3cdb6;
    /* Establece el color de fondo */
    background-color: rgba(0, 0, 0, 0.596);
    /* Agrega bordes redondeados */
    border-radius: 10px;
    /* Agrega espacio interior */
    padding: 20px;
    /* Establece el ancho */
    width: 90%;
    /* Establece el ancho máximo */
    max-width: 700px; 
}

/* Estilos para la navegación */
.navbar {
    /* Agrega margen superior */
    margin-top: 20px;
}

/* Estilos para la lista de navegación */
.navbar ul {
    /* Elimina estilos de lista por defecto */
    list-style: none;
    /* Elimina padding por defecto */
    padding: 0;
}

/* Estilos para los elementos de la lista de navegación */
.navbar li {
    /* Establece la visualización en línea */
    display: inline;
    /* Agrega margen derecho */
    margin-right: 20px;
}

/* Estilos para los enlaces de navegación */
.navbar a {
    /* Elimina subrayado por defecto */
    text-decoration: none;
    /* Establece el color del texto */
    color: #e3cdb6;
    /* Establece el tamaño de fuente */
    font-size: 15px;
    /* Establece el peso de fuente */
    font-weight: 600;
}

/* Estilos para los enlaces de navegación al pasar el mouse */
.navbar a:hover {
    /* Establece el color del texto al pasar el mouse */
    color: #FFA500;
}

/* Media query para ajustar estilos en dispositivos móviles */
@media (max-width: 768px) {
    /* Reduce el padding del contenido principal */
    .main {
        padding: 10px;
    }
    
    /* Establece la visualización en bloque para los elementos de la lista de navegación */
    .navbar li {
        display: block;
    }
}