/* Estilos generales para eliminar márgenes y paddings por defecto y establecer caja de contenido como referencia */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Establece la caja de contenido como referencia para calcular ancho y alto */
}

/* Estilos para el cuerpo del documento */
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #556B2F;
    background-color: #FAEBD7;
    /* Establece la fuente, color de texto y fondo del documento */
}

/* Estilos para el ícono de carrito */
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #556B2F;
    /* Establece el tamaño y color del ícono de carrito */
}

/* Estilos para el ícono de carrito al pasar el mouse */
.icon-cart:hover{
    cursor: pointer;
    /* Cambia el cursor a mano para indicar clickeabilidad */
}

/* Estilos para las imágenes */
img{
    max-width: 100%;
    /* Establece el ancho máximo de las imágenes */
}

/* Estilos para el encabezado */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    /* Establece la visualización en flexbox y distribución de elementos en el encabezado */
}

/* Estilos para el contenedor del ícono de carrito */
.container-icon{
    position: relative;
    /* Establece la posición relativa para posicionar elementos absolutos */
}

/* Estilos para el contador de productos */
.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #556B2F;
    color: #FAEBD7;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* Posiciona y estiliza el contador de productos */
}

/* Estilos para el contador de productos */
#contador-productos{
    font-size: 12px;
    /* Establece el tamaño de fuente del contador */
}

/* Estilos para el contenedor de productos del carrito */
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #FAEBD7;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    /* Posiciona y estiliza el contenedor de productos del carrito */
}

/* Estilos para cada producto en el carrito */
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    /* Establece la visualización en flexbox y distribución de elementos en cada producto del carrito */
}

/* Estilos para la información del producto en el carrito */
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    /* Establece la visualización en flexbox y distribución de elementos en la información del producto */
}

/* Estilos para el título del producto en el carrito */
.titulo-producto-carrito{
    font-size: 20px;
    /* Establece el tamaño de fuente del título del producto */
}

/* Estilos para el precio del producto en el carrito */
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    /* Establece el tamaño de fuente y peso del precio del producto */
}

/* Estilos para la cantidad del producto en el carrito */
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    /* Establece el tamaño de fuente y peso de la cantidad del producto */
}

/* Estilos para el ícono de cierre */
.icon-close{
    width: 25px;
    height: 25px;
    /* Establece el tamaño del ícono de cierre */
}

/* Estilos para el ícono de cierre al pasar el mouse */
.icon-close:hover{
    stroke: #556B2F;
    cursor: pointer;
    /* Cambia el cursor a mano para indicar clickeabilidad */
}

/* Estilos para el total del carrito */
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    /* Establece la visualización en flexbox y distribución de elementos en el total del carrito */
}

/* Estilos para el título del total del carrito */
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
    /* Establece el tamaño de fuente y peso del título del total */
}

/* Estilos para el total a pagar */
.total-pagar{
    font-size: 20px;
    font-weight: 900;
    /* Establece el tamaño de fuente y peso del total a pagar */
}

/* Estilos para ocultar el carrito */
.hidden-cart{
    display: none;
    /* Oculta el elemento */
}


/* Estilos para el main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Establece la visualización en grid y distribución de elementos en el contenedor de items */
}

/* Estilos para cada item */
.item{
    border-radius: 10px;
    /* Establece la forma redondeada del item */
}

/* Estilos para cada item al pasar el mouse */
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    /* Agrega sombra al item al pasar el mouse */
}

/* Estilos para la imagen del item */
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
    /* Establece el tamaño y ajuste de la imagen del item */
}

/* Estilos para la figura del item */
.item figure{
    overflow: hidden;
    /* Oculta el overflow de la figura */
}

/* Estilos para la imagen del item al pasar el mouse */
.item:hover img{
    transform: scale(1.2);
    /* Aplica el efecto de zoom a la imagen al pasar el mouse */
}

/* Estilos para la información del item */
.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Establece la visualización en flexbox y distribución de elementos en la información del item */
}

/* Estilos para el precio del item */
.price{
    font-size: 18px;
    font-weight: 900;
    /* Establece el tamaño de fuente y peso del precio del item */
}

/* Estilos para el botón de agregar al carrito */
.info-product button{
    border: none;
    background: none;
    background-color: #556B2F;
    color: #FAEBD7;
    padding: 15px 10px;
    cursor: pointer;
    /* Establece el estilo del botón de agregar al carrito */
}

/* Estilos para el mensaje de carrito vacío */
.cart-empty{
    padding: 20px;
    text-align: center;
    /* Establece el estilo del mensaje de carrito vacío */
}

/* Estilos para ocultar elementos */
.hidden{
    display: none;
    /* Oculta el elemento */
}